.dealsBox{
    padding: 50px;
    margin: 50px auto;
    width: 300px;
    border-radius: 20px;
    text-align: center;
     background: #20002c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #20002c, #cbb4d4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #20002c, #cbb4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}